<div class="color-line"></div>

<div class="pull-left m">
    <a href="#/dashboard" class="btn btn-primary">처음 페이지로 이동</a>
</div>

<div class="login-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3>화물프로</h3>
                <small>아이디/패스워드 찾기 페이지</small>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                     <label class="control-label">입력하신 Email을 통해 인증 후 비밀번호가 재발급됩니다.</label><br>
			             <label>NAME</label>
			        		 <input type="" value="" ng-model="name" class="form-control" name="" required/>
			             <label>PHONE</label> <label>(-를 뺴고 입력)</label>
			        		 <input type="" value="" ng-model="phone" ui-mask="999-9999-9999" size="12" class="form-control" name="" required/>
                     <label>EMAIL</label>
	            		 <input type="email" value="" ng-model="email" class="form-control" name="checkEmail" required/>
	            		 <br>
     				       <button type="" class="btn btn-success btn-block" ng-click="findID()">아이디/비밀번호 찾기</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <strong>화물프로</strong><br/> 2015 Copyright 우노아이티
        </div>
    </div>
</div>
