<div class="color-line"></div>

<div class="pull-left m">
    <a href="#/dashboard" class="btn btn-primary">처음 페이지로 이동</a>
</div>

<div class="login-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3>화물프로</h3>
                <small>패스워드 재설정</small>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                  <label class="control-label">[[user_id]]에 대해 새로운 비밀번호를 입력해 주세요 </label><br/>
			             <label>ID</label>
			        		 <input type="" value="" ng-model="user_id" class="form-control" name="" ng-disabled="true"/>
			             <label>비밀번호</label>
			             <input type="password" value="" ng-model="password" class="form-control" name="" required/>
	    		    	   <label>비밀번호 확인</label>
	    		    	   <input type="password" value="" ng-model="repeat_password" class="form-control" name="" required/>
	            		 <br/>
     				       <button type="" class="btn btn-success btn-block" ng-click="resetPassword()">아이디/비밀번호 찾기</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <strong>화물프로</strong><br/> 2015 Copyright 우노아이티
        </div>
    </div>
</div>
